In [2]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Katerina\\PycharmProjects\\diplomatiki'

In [3]:
music_df = pd.read_csv('data/last_fm_experiments.csv')
# music_df
movies_df = pd.read_csv('data/movies_experiments.csv')
# movies_df

In [8]:
# # check column names
print(music_df.columns)
print(movies_df.columns)

Index(['auc_original', 'auc_without_self_attention',
       'auc_without_ls_regularization', 'auc_with_dropout_0.2', 'f1_original',
       'f1_without_self_attention', 'f1_without_ls_regularization',
       'f1_with_dropout_0.2', 'prec@1_original',
       'prec@1_without_self_attention', 'prec@1_without_ls_regularization',
       'prec@1_with_dropout_0.2', 'prec@3_original',
       'prec@3_without_self_attention', 'prec@3_without_ls_regularization',
       'prec@3_with_dropout_0.2', 'prec@10_original',
       'prec@10_without_self_attention', 'prec@10_without_ls_regularization',
       'prec@10_with_dropout_0.2', 'rec@1_original',
       'rec@1_without_self_attention', 'rec@1_without_ls_regularization',
       'rec@1_with_dropout_0.2', 'rec@3_original',
       'rec@3_without_self_attention', 'rec@3_without_ls_regularization',
       'rec@3_with_dropout_0.2', 'rec@10_original',
       'rec@10_without_self_attention', 'rec@10_without_ls_regularization',
       'rec@10_with_dropout_0.2'],
      dtype='object')
Index(['auc_original', 'auc_without_self_attention',
       'auc_without_ls_regularization', 'auc_with_dropout_0.2', 'f1_original',
       'f1_without_self_attention', 'f1_without_ls_regularization',
       'f1_with_dropout_0.2', 'prec@1_original',
       'prec@1_without_self_attention', 'prec@1_without_ls_regularization',
       'prec@1_with_dropout_0.2', 'prec@3_original',
       'prec@3_without_self_attention', 'prec@3_without_ls_regularization',
       'prec@3_with_dropout_0.2', 'prec@10_original',
       'prec@10_without_self_attention', 'prec@10_without_ls_regularization',
       'prec@10_with_dropout_0.2', 'rec@1_original',
       'rec@1_without_self_attention', 'rec@1_without_ls_regularization',
       'rec@1_with_dropout_0.2', 'rec@3_original',
       'rec@3_without_self_attention', 'rec@3_without_ls_regularization',
       'rec@3_with_dropout_0.2', 'rec@10_original',
       'rec@10_without_self_attention', 'rec@10_without_ls_regularization',
       'rec@10_with_dropout_0.2'],
      dtype='object')

In [19]:
# #music_df or movies_df
# original_df=music_df
# # auc or f1 or prec@1 or prec@3 or prec@10 or rec@1 or rec@3 or rec@10
# metric='auc'

# metric_subtable=original_df[[metric+'_original', metric+'_without_self_attention', metric+'_without_ls_regularization', metric+'_with_dropout _0.2']]
# # metric_subtable.head()

# # Calculate ranks for each column by row
# ranked_metric_subtable = metric_subtable.rank(axis=1, ascending=False)
# # ranked_metric_subtable.head()

# # Rename the columns to indicate they are ranks
# ranked_metric_subtable.columns = [col + '_rank' for col in metric_subtable.columns]
# # ranked_metric_subtable.head()

# # Concatenate the original DataFrame with the ranks
# result_ranked = pd.concat([metric_subtable, ranked_metric_subtable], axis=1)
# # result_ranked.head()

In [5]:
# function that adds 4 columns with the ranked values of the given metric by row (for each experiment itteration)
def add_rank_columns(original_df, metric):
    metric_subtable=original_df[[metric+'_original', metric+'_without_self_attention', metric+'_without_ls_regularization', metric+'_with_dropout_0.2']]
    ranked_metric_subtable = metric_subtable.rank(axis=1, ascending=False)
    ranked_metric_subtable.columns = [col + '_rank' for col in metric_subtable.columns]
    result_ranked = pd.concat([metric_subtable, ranked_metric_subtable], axis=1)
    return result_ranked

In [ ]:
# function to export original and ranked values for given dataframe and metric
def export_metric_ranks_xlxs(original_df, original_name, metric, index=False):
    ranked_df = add_rank_columns(original_df, metric)
    excel_file_path = f"ranked_{original_name}_{metric}.xlsx"
    return ranked_df.to_excel(excel_file_path, index=index)

export_metric_ranks_xlxs(original_df=movies_df, original_name='movies_df', metric='f1')

In [6]:
ranked_music = add_rank_columns(original_df=music_df, metric='auc')
ranked_music.head(1)

,auc_original,auc_without_self_attention,auc_without_ls_regularization,auc_with_dropout_0.2,auc_original_rank,auc_without_self_attention_rank,auc_without_ls_regularization_rank,auc_with_dropout_0.2_rank
0,0.797,0.394,0.8,0.8,3.0,4.0,1.5,1.5

In [15]:
# # Export DataFrame to Excel
# ranked_music = add_rank_columns(original_df=music_df, metric='rec@3')
# excel_file_path = 'ranked_music_rec@3.xlsx'
# ranked_music.to_excel(excel_file_path, index=False)  # index=False to exclude row numbers in Excel

In [6]:
ranked_movies = add_rank_columns(original_df=movies_df, metric='auc')
ranked_movies.head(1)

,auc_original,auc_without_self_attention,auc_without_ls_regularization,auc_with_dropout_0.2,auc_original_rank,auc_without_self_attention_rank,auc_without_ls_regularization_rank,auc_with_dropout_0.2_rank
0,0.976,0.969,0.976,0.974,1.5,4.0,1.5,3.0

In [36]:
# # Export DataFrame to Excel
# ranked_movies = add_rank_columns(original_df=movies_df, metric='f1')
# excel_file_path = 'ranked_movies_f1.xlsx'
# ranked_movies.to_excel(excel_file_path, index=False)  # index=False to exclude row numbers in Excel

In [14]:
def mean_metric_rank(original_df, metric):
    metric_subtable=original_df[[metric+'_original', metric+'_without_self_attention', metric+'_without_ls_regularization', metric+'_with_dropout_0.2']]
    ranked_metric_subtable = metric_subtable.rank(axis=1, ascending=False)
    ranked_metric_subtable.columns = [col + '_rank' for col in metric_subtable.columns]
    result_ranked = pd.concat([metric_subtable, ranked_metric_subtable], axis=1)
    mean_values = result_ranked.mean()
    mean_values = mean_values.tolist()
    return mean_values

In [16]:
ranked_music = mean_metric_rank(original_df=music_df, metric='rec@3')
ranked_music

[0.05460000000000003,
 0.005000000000000002,
 0.05343333333333336,
 0.039500000000000014,
 1.6166666666666667,
 4.0,
 1.5333333333333334,
 2.85]

In [19]:
# caalculate mean values per metric for a given table
def dict_mean_ranks(original_df):
    metrics_list = ['auc','f1','prec@1','prec@3','prec@10','rec@1','rec@3','rec@10']
    metrics_means = {}

    for metric in metrics_list:
        metrics_means[metric] = mean_metric_rank(original_df=original_df, metric=metric)
    print(metrics_means)

In [20]:
movies_means = dict_mean_ranks(movies_df)
movies_means

{'auc': [0.9754666666666666, 0.9699000000000002, 0.9754999999999999, 0.9742000000000002, 1.6, 4.0, 1.55, 2.85], 'f1': [0.9291333333333329, 0.9179333333333337, 0.9292999999999996, 0.9268999999999996, 1.5666666666666667, 4.0, 1.4666666666666666, 2.966666666666667], 'prec@1': [0.07466666666666669, 0.07500000000000002, 0.07233333333333336, 0.060666666666666695, 2.316666666666667, 2.316666666666667, 2.533333333333333, 2.8333333333333335], 'prec@3': [0.07310000000000001, 0.0957, 0.07173333333333333, 0.062066666666666666, 2.683333333333333, 1.15, 2.8, 3.3666666666666667], 'prec@10': [0.06443333333333333, 0.07156666666666665, 0.06536666666666666, 0.05956666666666667, 2.6333333333333333, 1.1833333333333333, 2.6166666666666667, 3.566666666666667], 'rec@1': [0.009133333333333337, 0.013733333333333342, 0.009233333333333338, 0.006933333333333336, 2.566666666666667, 1.5833333333333333, 2.6, 3.25], 'rec@3': [0.02946666666666668, 0.03880000000000002, 0.026666666666666682, 0.022033333333333342, 2.533333333333333, 1.25, 2.8333333333333335, 3.3833333333333333], 'rec@10': [0.08473333333333334, 0.08956666666666667, 0.08669999999999999, 0.07123333333333333, 2.316666666666667, 1.8333333333333333, 2.25, 3.6]}

In [21]:
music_means = dict_mean_ranks(music_df)
music_means

{'auc': [0.7888666666666666, 0.4057666666666667, 0.7892666666666664, 0.7875333333333333, 2.15, 4.0, 2.216666666666667, 1.6333333333333333], 'f1': [0.7103, 0.43076666666666663, 0.7090666666666666, 0.7093, 2.05, 4.0, 2.033333333333333, 1.9166666666666667], 'prec@1': [0.05266666666666668, 0.0, 0.05233333333333335, 0.03733333333333334, 1.7166666666666666, 4.0, 1.6333333333333333, 2.65], 'prec@3': [0.04356666666666667, 0.0030000000000000014, 0.042366666666666664, 0.03323333333333335, 1.6666666666666667, 4.0, 1.6833333333333333, 2.65], 'prec@10': [0.030266666666666685, 0.0020000000000000013, 0.029700000000000018, 0.02476666666666668, 1.45, 4.0, 1.7666666666666666, 2.783333333333333], 'rec@1': [0.024500000000000008, 0.0, 0.024100000000000007, 0.01586666666666667, 1.6166666666666667, 4.0, 1.5166666666666666, 2.8666666666666667], 'rec@3': [0.05460000000000003, 0.005000000000000002, 0.05343333333333336, 0.039500000000000014, 1.6166666666666667, 4.0, 1.5333333333333334, 2.85], 'rec@10': [0.11413333333333336, 0.010000000000000004, 0.11320000000000004, 0.09539999999999998, 1.5166666666666666, 4.0, 1.65, 2.8333333333333335]}

In [24]:
def sum_metric_rank(original_df, metric):
    metric_subtable=original_df[[metric+'_original', metric+'_without_self_attention', metric+'_without_ls_regularization', metric+'_with_dropout_0.2']]
    ranked_metric_subtable = metric_subtable.rank(axis=1, ascending=False)
    ranked_metric_subtable.columns = [col + '_rank' for col in metric_subtable.columns]
#     result_ranked = pd.concat([metric_subtable, ranked_metric_subtable], axis=1)
    sum_values = ranked_metric_subtable.sum()
#     sum_values = mean_values.tolist()
    return sum_values

In [25]:
movies_sums = sum_metric_rank(movies_df,'auc')
movies_sums

auc_original_rank                      48.0
auc_without_self_attention_rank       120.0
auc_without_ls_regularization_rank     46.5
auc_with_dropout_0.2_rank              85.5
dtype: float64

In [26]:
music_sums = sum_metric_rank(music_df,'auc')
music_sums

auc_original_rank                      64.5
auc_without_self_attention_rank       120.0
auc_without_ls_regularization_rank     66.5
auc_with_dropout_0.2_rank              49.0
dtype: float64